<!DOCTYPE html>
<html lang="en">
<body>
  <div class="background">
    <h1 appChangeColor>Reactive Forms</h1>
    <!-- <h1 class="text-center">Hi,This is Bhanu prakash</h1>
 
    <div class="col-md-4">
      {{data.page}}
      
          <ul *ngFor="let i of x">
            <li>{{i.adult}}</li>
      </ul>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div> -->

     <!-- using hooks use app-hook component -->
     <app-hooks *ngIf="isVisible" [Mynumber]="counter"></app-hooks>
     <button type="button" class="btn btn-primary" (click)="increment()">+1</button>
     <button type="button" class="btn btn-danger" (click)="decrement()">+1</button>
     <button type="button" class="btn btn-warning" (click)="switchVisibility()">+1</button>

    <!-- <app-reactform></app-reactform> -->
  </div>
  
</body>
</html>